# Datos y variables de entorno
.env
data

# Node.js / Frontend (Vite)
node_modules/
dist/
dist-ssr/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
env/
.venv/
build/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/

# Cache
.pytest_cache/

# Nombres reservados de Windows
nul